<section class="min-h-screen bg-background-color">
    <div class="flex min-h-full">
        <div class="w-full xl:px-24 lg:xl:px-24 px-8 py-4 text-primary-color">
            <h1 class="text-4xl font-semibold text-center mt-4 mb-16">Detalhes do autor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet urna eget lectus egestas egestas. Aenean elementum urna ut augue fermentum lobortis. Phasellus tempus sed tellus ut lobortis. Aliquam congue, massa tristique egestas congue, neque augue volutpat arcu, vitae luctus nisi purus sed libero. Nullam aliquet magna a neque faucibus, interdum dictum risus ornare. Morbi ac elit semper, vestibulum sem nec, dignissim dolor. Curabitur pretium viverra eros, quis venenatis augue euismod a. Nulla ac metus at tortor pellentesque egestas sit amet nec lorem. Duis fermentum at tortor ac auctor. Morbi sed sagittis sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <br>
            <p>Morbi lobortis, magna eu congue gravida, odio sapien finibus orci, sit amet placerat massa neque at neque. Quisque facilisis neque ut orci vehicula, quis luctus lacus lacinia. Vivamus sed tellus eu erat tempus dictum. Proin accumsan magna eu est mattis tempus. Pellentesque est sem, tincidunt et orci ac, mattis ultrices arcu. Ut mauris odio, ultrices a turpis et, sodales pellentesque justo. Nam vitae urna eu lacus vulputate consectetur at sit amet ipsum. Duis ac mi ac urna imperdiet pellentesque ultrices vel erat. Vestibulum malesuada justo vel erat facilisis, eu ornare magna euismod. Duis quis ante erat. Integer maximus quam eget viverra rhoncus. Nullam vel libero id ante pretium volutpat.</p>
            <br>
            <p>Curabitur vehicula sagittis risus, et consequat urna rutrum faucibus. Praesent scelerisque, mauris quis porttitor porta, sapien nisi tincidunt nisl, ut tempor eros nunc sit amet ipsum. Maecenas luctus, metus sed vehicula viverra, sapien leo placerat nisi, id elementum enim est et tortor. Integer semper ornare ante quis vehicula. Nulla maximus tristique metus tristique porta. Aenean suscipit massa in purus rutrum, eu semper tortor fringilla. Sed vitae nisi vehicula mi lobortis sollicitudin.</p>
        </div>

        <div class="hidden lg:block xl:block min-h-dvh w-2/6 min-w-2/6 max-w-2/6 break-words overflow-auto" style="background-image: url('{{this.bgImage}}'); background-size: cover; background-repeat: no-repeat; background-position: center">
            <div class="min-h-full px-8 py-16 text-primary-color backdrop-blur">
                <div class="w-full xl:px-4 lg:px-4 px-4 text-center text-background-color flex flex-col items-center justify-center">
                    <h1 class="break-words text-4xl text-center max-w-full">reinternals</h1>
                    <div class="w-64 h-64 p-4">
                        <div class="rounded-full w-full h-full bg-primary-color shadow p-2 overflow-hidden">
                            <img src="assets/profile.png" alt="profile" width="100%">
                        </div>
                    </div>
                    <h1 class="break-words text-xl max-w-full">Kayque Melo</h1>
                    <small class="break-words text-md text-gray-300 italic max-w-full">kayquemelocarreira&#64;gmail.com</small>
                </div>
            </div>
        </div>
    </div>
</section>