<section class="max-w-screen min-h-screen bg-background-color">
    <div class="px-8 py-4 text-primary-color">
        <h1 class="text-4xl font-semibold text-center mt-4 mb-8">Sobre os autores</h1>
        <div class="flex justify-center w-full mb-8">
            <form class="w-full xl:mx-32 lg:mx-32 md:mx-4 mx-4">
                <div class="flex">
                    <div class="relative w-full">
                        <input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-gray-500 focus:border-gray-500" placeholder="Pesquisar Apelido, nome completo, e-mail, etc..." required />
                        <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-primary-color rounded-e-lg border border-gray-700 hover:bg-secondary-color focus:ring-4 focus:outline-none focus:ring-gray-300">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                            <span class="sr-only">Pesquisar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="w-full xl:px-16 lg:px-16 px-4 grid lg:grid-cols-3 xl:grid-cols-4 grid-cols-1 gap-4">
            @for(card of cardList; track card) {
                <div (click)="this.navigateToAuthor(card.id)" class="cursor-pointer text-primary-color flex flex-col w-full bg-background-color text-background-color min-h-48 rounded-md drop-shadow-md border p-4 flex justify-center items-center hover:bg-primary-color hover:text-background-color duration-300">
                    <h1 class="break-words text-2xl text-center max-w-full">{{card.nickname}}</h1>
                    <div class="w-64 h-64 p-16">
                        <div class="rounded-full w-full h-full bg-primary-color shadow p-2 overflow-hidden">
                            <img src="{{card.image}}" alt="profile" width="100%">
                        </div>
                    </div>
                    <h1 class="break-words text-center max-w-full">{{card.fullname}}</h1>
                    <small class="break-words text-xs text-gray-300 italic max-w-full">{{card.mail}}</small>
                </div>
            }
        </div>
    </div>
</section>